.leftside{
    background-color: white;
    height: 100vh;
    width: 600px;
    float: left;
}
.rightside{
    height: 100vh;
    width: 550px;
    margin: 0;
    float: right;
}
.girl{
    height: 110vh;
    width: 100%;
    float: right;
}
#FP{
    text-decoration: underline;
    margin-left: 150px;
}